{% extends 'base.twig' %}

{% block title %}Url Shortener{% endblock %}

{% block content %}
	<section class="container centered">
		{{ form_start(form, { attr: stimulus_controller('shortener').toArray|merge(stimulus_action('shortener', 'shorten').toArray()) }) }}
		{{ form_row(form.url, { attr: stimulus_target('shortener', 'url').toArray()|merge(stimulus_action('shortener', 'shorten', 'keydown.enter').toArray()) }) }}
		{{ form_rest(form) }}

		<div {{ stimulus_target('shortener', 'output') }}></div>
		{{ form_end(form) }}
	</section>
{% endblock %}