{% extends 'base.twig' %}

{% block title %}Url Shortener{% endblock %}

{% block content %}
	<section class="container centered">
		<div {{ stimulus_controller('shortener') }}>
			<label for="url">Enter a URL:</label>
			<input type="text" {{ stimulus_target('shortener', 'url') }} {{ stimulus_action('shortener', 'shorten', 'keydown.enter') }} id="url">

			<button {{ stimulus_action('shortener', 'shorten') }}>
				Shorten
			</button>

			<div {{ stimulus_target('shortener', 'output') }}></div>
		</div>
	</section>
{% endblock %}